.myListContainer {
    font-size: 1em;
    height: auto;
    padding: 1em;
    background-color: #FFF;
}



a {
    text-decoration: none;
    /* color: #000; */
}


.deleteBtn {
    color: #FFF;
    font-size: .5em;
    border: 1px #FFF solid;
    border-radius: 5px;
    padding: .5em 1em;
    transition: all .1s ease-in-out;
    background-color: rgb(153, 17, 13, 1);
    margin: .5em;
}

.deleteBtn:hover {
    font-size: .6em;
}

.listAlink {
      transition-delay: .1s;
      color: rgb(11, 91, 151);
      border-bottom: 2px dotted rgb(136, 167, 189);
      font-size: .9em;
}

.listAlink:hover {
    border-bottom: 2px dotted rgb(11, 91, 151);
}

@media screen and (max-width: 1100px) {
    .deleteBtn {

        font-size: .1em;

    }
}