.title .details {
  transition-duration: 5s;
  display: none;

}

.title {
  transition: all .1s ease-in-out;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active .details {
  transition-duration: 5s;
  display: inline-block;
  width: 100%;
}

.details {
  padding-top: .4em;
  text-decoration: none;
  font-size: .8em;
}

.alertList {
    border-top: 1px dotted lightgray;
    padding: .5em 1em ;
}

.alertsButton {
  color: #fff;
  border: 1px #fff solid;
  border-radius: 5px;
  padding: .5em 1em;
  transition: all .1s ease-in-out;
  background-color: rgb(57, 93, 41, 1);
  margin-bottom: .1em;
}
.alertsButton:hover {
  transition-delay: .1s;
  background-color: rgba(33, 56, 23, 1);
}

@media screen and (max-width: 1100px) {
  .alertsButton {
    font-size: .5em;
    margin-bottom: 0;
  }

  .alertsButton:active {
    font-size: .5em;
    margin-bottom: 0;
    background-color: rgba(33, 56, 23, 1);
  }
}
