/* small Parent */
.vskyWindow {
  position: absolute;
  max-width: 35vw;
  max-height: 60vh;
}

/* large Parent */
.vskyModal {
  z-index: 9999999999999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.vskySmallContainer {
  position: absolute;
  width: 35vw;
  height: 35vh;
}

.vskyLargeContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgb(0,0,0, .5);
  background: #FFF;
}

.vskySmallContainer > iframe {
  z-index: 5000;
  border: none;
  bottom: 0;
  font-size: 2rem;
  height: 60vh;
  width: 35vw;
}

.vskyLargeContainer > iframe {
  position: fixed;
  z-index: 5000;
  border: none;
  bottom: 0;
  font-size: 2rem;
  height:100%;
  width: 100%;
}
  

  .vskyLargeContainer > form > span > div> form > select, .projection > select  {
    color: #fff;
    
    background-color: rgb(0,0,0, .5);
  }

  .vskyLargeContainer > form > span > div> form > select {
    font-size: 1.5rem;
    box-shadow: inset 0px 0px 8px 4px rgb(125, 129, 181);
    text-align-last:center;
  }

  .vskyLargeContainer > form > span > div {
    /* This affects the header in the Large View of Virtual Sky */
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999;
    position: sticky;
    float: right;
    margin-right: 30vw;
    width: 40vw;
    font-size: 2rem;
    text-align: center;
  }
  
  .largeStarBtn, .smallStarBtn {
    /* background: yellow; */
    /* text-align: right; */
    width: 100%; 
  }
  
  .largeStarBtn > form, .smallStarBtn > form {

    bottom: 0;
    /* height: */
    z-index: 500000;
    margin-right: auto;
    margin-left: auto;
    /* font-size: 1rem; */
  
  }
  .largeStarBtn > form {
    position: fixed;
    /* bottom: 0; */
    /* height: */
    z-index: 500000;
    margin-right: auto;
    margin-left: auto;
    /* font-size: 1rem; */
  
  }
  .smallStarBtn > form {
    position: relative;
    /* bottom: 0; */
    /* height: */
    z-index: 500000;
    /* margin-right: auto;
    margin-left: auto; */
    /* font-size: 1rem; */
  
  }
  .largeStarBtn > form > section, .smallStarBtn > form > section {
    /* background: purple; */
    /* display: inline-block; */
  }
  .largeStarBtn > form > section > input {
    margin: 0;
    /* background: green; */
    border: none;
    width: 11.1vw;
    height: 4rem;
    font-size: 1.2rem;
    background-color: rgb(0,0,0, .5);
    color: #FFF;
  }

  .smallStarBtn > form > section > input {
    margin: 0;
    background: green;
    border: none;
    width: 7vw;
    height: 2rem;
    font-size: .8rem;
    display: inline-block;
    background-color: rgb(0,0,0, .5);
    color: #FFF;
  }

  .smallStarBtn > form > section > input:hover {
    margin: 0;
    transition: all .3s;
    background-image: linear-gradient(to right, rgb(211, 211, 211, .3), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1),  rgb(211, 211, 211, .3));
    
    /* background: green; */
    border: none;
    width: 7vw;
    height: 2rem;
    font-size: .8rem;
    display: inline-block;
    /* background-color: rgb(0,0,0, .5); */
    color: #FFF;
  }


  .largeStarBtn > form > section > input:hover,{
    /* transform: 2s; */
    /* color: black; */
    text-shadow: 1px 2px black;
    background-image: radial-gradient( transparent, rgb(125, 129, 181), transparent, transparent);
    /* transition: 1s ease-in-out; */
    border: none;

  }
  /* .largeStarBtn > form > section > input:active { */
    /* color: dodgerblue; */
    /* border: none; */

  /* } */
  




.projection {
/* background: orange; */
  float: right;
  position: sticky;
  width: 20vw;
  text-align: right;
  margin-left: -20vw;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999;
}
.projection > select {
  text-align-last: right;
  /* padding-right: 5px; */
  border: none;
  /* background-color: transparent; */
  /* color: rgb(125, 129, 181); */
  font-size: 1.5rem;
  margin: 5px;
  box-shadow: inset 0px 0px 6px 2px rgb(125, 129, 181);
}
.projection > select:focus {
  /* display: none; */
  border: none;
  /* background-image: radial-gradient( transparent, rgb(125, 129, 181), transparent, transparent); */
  /* background-color: rgb(125, 129, 181); */
  box-shadow: inset 0px 0px 6px 2px rgb(125, 129, 181);
  /* color: #FFF; */
}

/* .projection > select > option:active {
  border: none;
  background-color: transparent;
  color: #FFF;
} */


.close {
  z-index: 9999999999999;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
  border-radius: 100px;
  border: 2px solid #FFF;
  font-weight: 800;
  /* border-heig/t: */
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: transparent;
  color: #FFF;
}
.close:hover {
/* background-color: dodgerblue; */
box-shadow: inset 0px 0px 6px 4px rgb(125, 129, 181);
}
