







.vskyContainer {
    /* height: 100%; */
  }
  
  
  
  .vskyContainer > iframe {
    position: absolute;
    z-index: 5000;
    /* margin-right: auto;
    margin-left: auto; */
    /* margin-top: 12rem; */
    height: 60vh;
    width: 35vw;
    padding: 5vh 0 0 0;
    
  }
  
  .vskyForm {
    text-align: right;
    width: 100%; 
  }
  
  .vskyForm > form {
    position: absolute;
    z-index: 500000;
    margin-right: auto;
    margin-left: auto;
  
  }
  
  .vskyForm > form > section {
    display: inline-block;
    /* background-color: dodgerblue;
    border: red 2px solid; */
  }
  
  .vskyWindow {
    position: absolute;
    width: 35vw;
    height: 60vh;
  }