/****************************************************************************/
/***********************                              ***********************/
/***********************         VIRTUAL SKY          ***********************/
/***********************                              ***********************/
/****************************************************************************/
/* small Parent */
.vskyWindow {
  position: absolute;
  max-width: 35vw;
  max-height: 60vh;
}
/* large Parent */
.vskyModal {
  z-index: 9999999999999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.vskySmallContainer {
  position: absolute;
  width: 30vw;
  height: 30vw;
}
.vskyLargeContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgb(0,0,0, .5);
  background: #FFF;
}

.vskySmallContainer > iframe, .vskyLargeContainer > iframe {
  z-index: 5000;
  border: none;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.vskySmallContainer > iframe {
  font-size: 2rem;
}
.vskyLargeContainer > iframe {
  position: fixed;
  font-size: 10rem;
}

.vskyLargeContainer > form > span > div> form > select, .projection > select  {
  color: #fff;
  background-color: rgb(0,0,0, .5);
}

.vskyLargeContainer > form > span > div {
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999;
  position: sticky;
  float: right;
  margin-right: 30vw;
  width: 40vw;
  font-size: 2rem;
  text-align: center;
}
.vskyLargeContainer > form > span > div> form > select {
  font-size: 1.5rem;
  box-shadow: inset 0px 0px 8px 4px #7d81b5;
  text-align-last:center;
}

.vskyModalBtn {
  transition: all .3s ease-in-out;
  float: right;
  height: 2rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid midnightblue;
}
.vskyModalBtn:hover {
  transition: all .3s ease-in-out;
  background-color: rgb(0,0,0, .5);
  color: white;
  background-image: linear-gradient(to right, rgb(211, 211, 211, .3), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1),  rgb(211, 211, 211, .3));
}

.largeStarBtn, .smallStarBtn {
  width: 100%; 
}

.largeStarBtn > form, .smallStarBtn > form {
  bottom: 0;
  z-index: 500000;
  margin-right: auto;
  margin-left: auto;
}
.largeStarBtn > form {
  position: fixed;
  background-color: rgb(0,0,0, .5);
}
.smallStarBtn > form {
  position: relative;
}

.largeStarBtn > form > section > input, .smallStarBtn > form > section > input {
  margin: 0;
  border: none;
  color: #FFF;
}
.largeStarBtn > form > section > input {
  width: 11.1vw;
  height: 4rem;
  font-size: 1.2rem;
  background-color: transparent;
}
.smallStarBtn > form > section > input {
  width: 6vw;
  height: 2rem;
  font-size: .6rem;
  display: inline-block;
  background-color: rgb(0,0,0, .5);
}
.smallStarBtn > form > section > input:hover {
  transition: all .3s;
  background-image: linear-gradient(to right, rgb(211, 211, 211, .3), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1),  rgb(211, 211, 211, .3));
}

.largeStarBtn > form > section > input:hover{
  text-shadow: 1px 2px black;
  background-image: radial-gradient( transparent, rgb(125, 129, 181), transparent, transparent);
}

.projection {
  float: right;
  position: sticky;
  width: 20vw;
  text-align: right;
  margin-left: -20vw;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999;
}
.projection > select {
  text-align-last: center;
  border: none;
  font-size: 1.5rem;
  margin: 5px;
  box-shadow: inset 0px 0px 6px 2px rgb(125, 129, 181);
}

.close, .closeHelp, .close:hover, .closeHelp:hover {
  transition: all .3s ease-in-out;
}
.close, .closeHelp {
  z-index: 9999999999999;
  position: absolute;
  padding: 0;
  height: 24px;
  width: 24px;
  font-weight: 800;
}
.close {
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 4.5rem;
  border-radius: 100px;
  border: 2px solid #FFF;
  color: #FFF;
  background-color: rgb(0,0,0, .5);
}
.closeHelp {
  right: 0;
  top: 0;
  margin: 5px;
  border-radius: 100px;
  border: 2px solid black;
  color: black;
  background-color: transparent;
}
.closeHelp:hover, .close:hover {
  box-shadow: inset 0px 0px 4px 1px red;
  border: 2px solid red;
  color: red;
  font-size: 1.1rem;
  background-color: transparent;
  }
  

/****************************************************************************/
/***********************                              ***********************/
/***********************         Media Query          ***********************/
/***********************         960px maxW           ***********************/
/***********************                              ***********************/
/****************************************************************************/
@media screen and (max-width: 960px) {

  .vskySmallContainer {
    position: absolute;
    width: 90vw;
    height: 300px;
    padding: 0 0 1rem 0;
  }

  .smallStarBtn > form > section > input {
    width: 18vw;
    height: 6vw;
    font-size: 2vw;
    padding: 0;
  }

  .vskyModalBtn {
    margin-top: 10px;
  }
}


/****************************************************************************/
/***********************                              ***********************/
/***********************         Media Query          ***********************/
/***********************         500px maxW           ***********************/
/***********************                              ***********************/
/****************************************************************************/
@media screen and (max-width: 500px) {

  .vskySmallContainer {
    height: 60vw;
    margin-top: -38vw;
  }

  .smallStarBtn > form > section > input {
  }

  .vskyModalBtn {
    height: 1.8rem;
    font-size: 1rem;
    width: 7.5rem;
  }
}

