.registerForm {
    margin: auto 0;
    text-align: center;
}

button {
        color: #FFF;
        border: 1px #FFF solid;
        border-radius: 5px;
        font-size: .5em;
        padding: .25em 1em;
        transition: all .1s ease-in-out;
        background-color: rgb(57, 93, 41, 1);
        margin-bottom: .1em;
}

button:hover {
        transition-delay: .1s;
        background-color: rgba(33, 56, 23, 1);
}
