
html {
  background-image: url('./background.jpg');
  background-size: no-repeat;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.map-container {
  background-color: lightgreen;
}
.map > div {
  height: 30em;
  width: 30em;
}
.pin {
  text-align: center;
  height: auto;
  width: 3em;
}
.alertList {
  border-top: 1px dotted lightgray;
  padding: .5em 0 ;
}

input, button {
  margin-bottom: -10px;
}

input {
  width: 9em;
  border-radius: 2px;
  margin-right: .5rem;
}
button {
  border-radius: 2px;
  background-color: lightgrey;
  color: black;
}
/*************************** SCALABLE GRID ***************************/
/* there has got to be a dryer way */
.grid-aa, .grid-ab, .grid-ba, .grid-bb, .grid-ca, .grid-cb, .grid-header, .grid-nav , .grid-footer { background: black; color: white; }
.grid-aa { grid-area: aa; }
.grid-ab { grid-area: ab; }
.grid-ba { grid-area: ba; }
.grid-bb { grid-area: bb; }
.grid-ca { grid-area: ca; }
.grid-cb { grid-area: cb; }

.grid-header { grid-area: header; }
.grid-header > h1 {
  padding: 0 4rem;
  font-size: 2.5rem;
  margin-block-end: 0em;
}

.grid-image { 
  grid-area: image; 
  background-color: transparent;
  width: auto;

}
.grid-nav { 
  grid-area: nav; 
  text-align: right;
  position: relative;
  padding: 8px 0 ;
  /* bottom: 0; */
  /* margin-bottom: 0; */
}

.grid-menu { 
  grid-area: menu; 
  background: white;
  padding: .5rem 4rem 4rem 4rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.grid-menu > h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  padding: 0;
  /* margin: 0; */
}

.grid-main { 
  grid-area: main; 
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  background: transparent;
  padding: 0 1rem 0 2rem;
  margin: 0 auto 6em auto;
}
.grid-footer {
  grid-area: footer;
  bottom: 0;
  text-align: center;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 12% auto auto 12%;
  grid-template-rows: 7rem 2% 34px auto 5rem;
grid-template-areas:
  ' aa header header ab '
  ' image image image image'
  ' . nav nav . '
  ' . menu main . '
  ' ca footer footer cb ';
   grid-gap: 0;
}

@media screen and (max-width: 1100px) {
  .grid-header {
    position: aboslute;
    top:0
  }
  .grid-nav {
    text-align: center;
    font-size: 1.3em;
    padding: 0 2rem;
  }
  .grid-menu {
    padding: 0 2rem 1rem 2rem;
  }
  .grid-main { 
    padding: 0 2rem 0 2rem;
    margin-bottom: 2rem;
  }
  .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 5rem 4.5rem auto auto auto auto;
  grid-template-areas:
      'header'
      'image'
      'nav'
      'menu'
      'main'
      'footer';
      grid-gap: 0;
  }
  input {
    margin-left: 3rem !important;
  }
  button, input {
    transform: scale(1.5);
    margin: 2rem 2rem;
  }
}
/*-------------------------- SCALABLE GRID --------------------------*/