
html {
  height: 100%;
}

body {
  /* overflow: hidden; // compliments Vianney */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  position: relative;
  z-index: 50;
  /* display: block; */
  font-size: 1.17em;
  margin-block-start: .8em;
  margin-block-end: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
}

input, button {
  margin: 0 .3em;
  border-radius: 2px;
}

input {
  width: 9em;
  height: 1rem;
}

.selected {
  display: none !important;
}

.enter{
  margin: auto 0;
  text-align: center;
}

.enter > form > button {
      color: #FFF;
      border: 1px #FFF solid;
      border-radius: 5px;
      font-size: .5em;
      padding: .25em 1em;
      transition: all .1s ease-in-out;
      background-color: rgb(57, 93, 41, 1);
      margin-bottom: .1em;
}

.enter > form > button:hover {
      transition-delay: .1s;
      background-color: rgba(33, 56, 23, 1);
}

/*************************** ShowUser ***************************/
.showUser {
  margin-top: -2.5rem;
  text-align: center
}
/*************************** LOADING ***************************/
.loading {
  margin: 2rem 0;
  text-align: center;
}
/*************************** SCALABLE GRID ***************************/
/* there has got to be a dryer way */
.grid-header, .grid-nav , .grid-footer, .grid-ha, .grid-hb, .grid-na, .grid-nb, .grid-fa, .grid-fb { background: #000; color: #FFF; }
.grid-title, .grid-ta, .grid-tb {
  background: rgb(0, 0, 0, .6); 
  color: #FFF; 
  width: 100%;
  margin-top: -82px;
}
.grid-ha { grid-area: ha; }
.grid-hb { grid-area: hb; }
.grid-na { grid-area: na; }
.grid-nb { grid-area: nb; }
.grid-fa { grid-area: fa; }
.grid-fb { grid-area: fb; }   
.grid-ta { grid-area: ta; }
.grid-tb { grid-area: tb; }

.grid-header { 
  grid-area: header; 
  position: relative;
  z-index: 5000;
}
.grid-header > h1 {
  font-size: 2.5rem;
  margin-block-end: 0em;
}
.grid-header > h3 > img {
  height: 1em;
  z-index: 50;
  position: relative;
  margin-right: -.15em;
}

.grid-image { 
  grid-area: image; 
  background-color: transparent;
  width: auto;
  /* margin: auto; */
}

.image-holder {
  height: 200px;
}

.grid-image > div > img {
  max-height: 200px;
  width: 100%;
  z-index: -10;
  position: relative;
}

.switchContainer {
  position: relative;
  z-index: 100;
}

.grid-nav { 
  grid-area: nav; 
  text-align: right;
  position: relative;
  padding: 19px 0 ;
  font-weight: bold;
}

.grid-title { 
  grid-area: title;
}

.grid-title > section > form {
  margin: 1em 0;
}

.grid-title > div > h1 {
  position: absolute;
  display: block;
  font-size: 2em;
  margin-block-start: 0.8em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.grid-menu { 
  grid-area: menu; 
  background: #FFF;
  padding: .5rem;
  text-align: justify;
  margin-bottom: 2rem;
  max-height: 600px;
  overflow: overlay;
}
.grid-menu > h1, .grid-list > h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  padding: 0;
}

/* .grid-list { 
  grid-area: list; 
  padding: .5rem;
  height: auto;
  max-height: 300px;
  overflow: auto;
} */

.grid-main { 
  grid-area: main; 
  /* text-align: center; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  background: transparent;
  padding: 2em auto auto auto;
  overflow: auto;
  max-height: 600px;
}
.grid-footer {
  grid-area: footer;
  /* bottom: 0; */
  position: sticky;
  text-align: center;
}

.grid-footer > h3 > a {
  font-size: .7rem;
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #FFF;
  margin: 2rem auto;
}

.grid-footer > h3 > a:hover {
  font-size: .8rem;
}

.grid-container {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 1.5fr 5fr 4fr 1.5fr;
  grid-template-rows: 55px 200px 0px 56px auto 5rem;
grid-template-areas:
  ' ha header header hb '
  ' image image image image'
  ' ta title title tb '
  ' na nav nav nb '
  ' . menu main . '
  ' fa footer footer fb ';
   grid-gap: 0;
}
@media screen and (min-width: 1400px) {
  .grid-container {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 2.5fr 5fr 4fr 2.5fr;
    grid-template-rows: 55px 200px 0px 56px auto 5rem;
  grid-template-areas:
    ' ha header header hb '
    '  ha image image hb '
    ' ta title title tb '
    ' na nav nav nb '
    ' . menu main . '
    ' fa footer footer fb ';
    grid-gap: 0;
  }
}
/*********************** @media RESIZE TO PHONE 500px ***********************/

@media screen and (max-width: 500px) {
  .grid-header {
    position: fixed;
    width: 100%;
  }

  .grid-nav {
    text-align: center;
    font-size: 1.4em;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    margin: 4rem auto 0 auto;
  }

  .grid-menu, .grid-main, .grid-list  {
    margin: auto;
    width: 100%
  }

  .grid-image {
    height: 2rem;
  }

  .grid-title {
    margin: 1rem 0 0 0;
  }

  .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1rem auto 4.5rem auto auto auto auto auto;
  grid-template-areas:
      'header'
      'nav'
      'image'
      'title'
      'list'
      'menu'
      'main'
      'footer';
      grid-gap: 0;
  }

  .grid-header > div > h3 {
    margin-block-end: 0em;
    margin: 1px 0 0 .25em;
  }

  .grid-title section > form > input {
    font-size: 2rem;
    height: 1em;
    width: 90%;
    margin: .2em auto;
    padding: 0 .2em;
  }

  .grid-title section > form > button {
    font-size: 1rem;
  }

  .grid-menu > h1 {
    text-align: center;
  }
}
/*-------------------------- SCALABLE GRID --------------------------*/
/*********************** @media RESIZE TO PHONE 800px ***********************/

@media screen and (max-width: 800px) and (min-width: 500px) {
  .grid-header {
    position: relative;
    width: 100%;
  }

  .grid-nav {
    text-align: center;
    font-size: 1.4em;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 10;
    margin: 3.5rem auto 0 auto;
  }

  .grid-main {
    width: 100%;
  }

  .grid-list {
    margin: auto;
    width: 100%;
    height: auto;
  }

  .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 3rem 0 11rem 4rem auto 100% auto;
  grid-template-areas:
      'header header'
      'nav nav'
      'image image'
      'title title'
      'menu list'
      'menu main'
      'footer footer';
      grid-gap: 0;
  }

  .grid-header > div > h3 {
    margin-block-end: 0em;
    margin: 1px 0 0 .25em;
  }

  .grid-title section > form > input {
    font-size: 1.4rem;
    height: 1em;
    width: 10rem;
    margin: 0 1em 0 0;
    padding: 0 .2em;
  }

  .grid-title section > form > button {
    height: 2rem;
    font-size: 1rem;
  }
}
/*-------------------------- SCALABLE GRID --------------------------*/


.vskyContainer > iframe {
  position: absolute;
  z-index: 5000;
  margin-right: auto;
  margin-left: auto;
  /* background-color: #fff; */
  height: 80vh;
  width: 80vw;
}

.vskyContainer > form {
  position: absolute;
  z-index: 500000;
  margin-right: auto;
  margin-left: auto;
  /* background-color: #fff; */

}