.mapBtn {
    position: relative;
    float: right;
    z-index: 300;
  }
.mapBtn:hover{
    transform: scale(1.1);
}

.mapBtn > button {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .5em 1em;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-color: #395d29;
    margin-bottom: .1em;
}

.map {
  transition: all .3s ease-in-out;
  height: 60vh;
  width: 30vw;
  /* padding: 1rem 0 0 0; */
  background-color: #FFF;
}
.pin {
  text-align: center;
  height: 20px;

}

.greenPoint {
  z-index: 5000000000000;
}