/****************************************************************************/
/***********************                              ***********************/
/***********************         GOOGLE MAP           ***********************/
/***********************                              ***********************/
/****************************************************************************/
.map {
  transition: all .3s ease-in-out;
  height: 30vw;
  width: 30vw;
  background-color: #FFF;
}

.mapBtn {
    position: relative;
    float: right;
    z-index: 300;
  }
.mapBtn:hover{
    transform: scale(1.1);
}
.mapBtn > button {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .5em 1em;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-color: #395d29;
    margin-bottom: .1em;
}

.pin {
  text-align: center;
  height: 20px;
}

.greenPoint {
  z-index: 5000000000000;
}




/****************************************************************************/
/***********************                              ***********************/
/***********************         Media Query          ***********************/
/***********************           max 960            ***********************/
/***********************                              ***********************/
/****************************************************************************/
@media screen and (max-width: 960px) {
  .map {
    height: 300px;
    width: 90vw;
    padding: 0 0 1rem  0;
  }
}



/****************************************************************************/
/***********************                              ***********************/
/***********************         Media Query          ***********************/
/***********************           max 500            ***********************/
/***********************                              ***********************/
/****************************************************************************/
@media screen and (max-width: 500px) {
  .map {
    height: 66vw;
    margin: -38vw 0 0 0;
  }
}