.navBtn {
    float: right;
    text-decoration: none;  
    background-color: none;
    color: white;
    padding: .5rem 1rem;
    margin: 4px 0;
}

.navBtn:hover {
    transition: all .3s;
    background-color: rgb(211, 211, 211, .5);
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    margin: 4px -2px;

}

.active {
    text-decoration: underline !important;
}

.navAlert {
    text-align: center;
}