.navBtn {
    text-decoration: none;  
    background-color: none;
    color: #FFF;
    padding: 22px .6rem;
    margin: 0 0;
    font-size: .8rem;
    text-shadow: 1px 1px #000;
}

.navBtn:hover {
    transition: all .3s;
    background-image: linear-gradient(to right, rgb(211, 211, 211, .3), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1), rgb(211, 211, 211, .1),  rgb(211, 211, 211, .3));
    border-right: 2px solid rgb(211, 211, 211, .4);
    border-left: 2px solid rgb(211, 211, 211, .4);
    margin: 0 -2px;

}

.underline {
    text-decoration: underline !important;
}

.navAlert {
    text-align: center;
    z-index: 90
}

.neuter:hover {
    background-color: gray;
    color: darkgray;
}

/* @media screen and (max-width: 800px) {
    .navBtn {
        padding: 0 1rem;
    }
    .active {
        text-decoration: underline !important;
        background-color: rgb(211, 211, 211, .5);
        border-right: 2px solid gray;
        border-left: 2px solid gray;
        margin: 0 -2px;
    }
    
} */